body {
  background-color: pink;
}

#game {
  background-color: white;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  position: relative;
}

.box {
  height: 50px;
  width: 50px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

